extends layout

block nav
	img#profpic.img-thumbnail(src='/images/headshot.jpg')
	#name
		h1  Juliana Nazar&eacute; 
	#bio
		p
			| I'm a senior at Olin College of Engineering studying Electrical Engineering and Computer Science. I am interested in using technology to make educational tools, natural language processing, software development, UX design, and artificial intelligence.
	#social-icons
		a(href='https://github.com/jnazare', id="social")
			i.fa.fa-github-square.fa-2x
		a(href='http://www.linkedin.com/in/juliananazare', id="social")
			i.fa.fa-linkedin-square.fa-2x
		a(href='https://twitter.com/juliananazare', id="social")
			i.fa.fa-twitter-square.fa-2x
		a(href='mailto:jules.nazare@gmail.com', id="social")
			i.fa.fa-envelope.fa-2x
	#resume
		h1#sidebarlinks
			a(href='/')  projects 
			| |
			a(href='/resume')  resume 
		p(id="caption")  Picture from our weather ballon launch 

block content
	if(currentproject) 
		#myproject #{currentproject}
	else
		#projectrow.row
			h3 Recent Projects &rarr;
		#projectrow.row
			each project in projects
				a(href=project.url)
					#project.col-md-3
						p#title  #{project.title}
						//- p#subtitle  Wireless link between a Raspberry Pi and a software-defined radio 
						p#date  #{project.date}
		#projectrow.last.row
			h3 &larr; Past Projects