html,body {
    height:100%;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    font-family: 'Istok Web', sans-serif;
    color: 000066;
}

h1{
	font-size: 30px;
}


#sidebar a:hover {
	text-decoration:none;
	color: yellow;
}

#projects a{
	color: white;
}

#sidebar{
	text-align: center;
	padding: 50px;
	background-image: url("../images/background2.jpg");
	min-height:100%;
	background-repeat:no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	color: white;
	/*background-size: 100vh;*/
}

#social-icons{
	padding: 20px;
}

#social{
	color: white;
	margin: 5px;
}

#profpic{
	height: 120px;
}

#resume{
	margin-top: 50px;
}

#sidebarlinks h1{
	color: white;
}

#sidebarlinks a{
	color: white;
}

#myproject a{
	color: purple;
}

#caption{
	 color: white; 
	 font-size: 10px; 
	 text-align: right;
}

#projects{
	padding: 40px;
}


#project{
  background-color: #000033;
  padding: 10px;
  margin-bottom: 16px;
  height: 90px;
}

#work{
  background-color: #4C004C;
  padding: 10px;
  margin-bottom: 16px;
  height: 90px;
}

#project:hover {
	background-color: #4C004C;
};

#title{
  font-size: 16px;
  text-align: center;
  color : white;
  text-transform:uppercase;
}

#subtitle{
  font-size: 10px;
  color : white;
}

#date{
  font-size: 8px;
  color : white;
  text-transform:capitalize;
}

.last{
	text-align: right;
}

p{
	font-family: 'Raleway', sans-serif;
}

li{
	font-family: 'Raleway', sans-serif;
}

#project a:hover {
	text-decoration:none;
	color: white;
}

#projects {
position: relative;
}

#sidebar {
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 28em; /* or whatever */
}

#projects {
margin: 0;
margin-left: 29em; /* or whatever width you set for #navigation */
}

#work:hover {
	background-color: #000033;
};